$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin:0;
}

div{
	padding:0;
	margin:0;

}

img, div{
	opacity:.8;
	transition:.5s linear;
}

img:hover, div:hover{
	opacity:1;
	transition:.5s linear;
}

.third{
	width: calc(100%/3);
	width:33.33%;
	max-width:33.33%;
	display:inline-block;
	font-size:0;
	float:left;
	clear:right;
	height:300px;
	text-align:center;

	img{
		max-width:100%;
		max-height:100%;
		margin:0 auto;
		text-align:center;
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);
	}

}

.half{
	max-width:50%;
	float:left;
	height:600px;

	img{
		max-width:100%;
		max-height:100%;
		margin:0 auto;
		text-align:center;
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);
	}
}

.quarter{
	max-width:25%;
	float:left;
	height:600px;

	img{
		max-width:100%;
		max-height:100%;
		margin:0 auto;
		text-align:center;
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);
	}
}


#one{
	background-color:gray;
	}

#two{
	background-color:red;
	}

#three{
	background-color:gray;
}

#four{
	background-color:green;
}

#five{
	background-color:red;
}

#six{
	background-color:pink;
}

